*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 400;
	
}

:root{
	--white: #FFFFFF;
	--black: #000000;
	--btn-red: #BC4749;
	--btn-red-border: #D66567;
	--card-lightgreen: #6A994E;
	--card-dark: #1D252B;
	--body-bg: linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%);
	--gap: 30px
}


html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
	line-height: 128.023%;
	color: var(--white);
	background: var(--body-bg);
	-webkit-tap-highlight-color: transparent;
	
	@media (min-width: 1921px) {
       zoom: 150%;
    }

	@media (min-width: 2561px) {
		zoom: 175%;
	}

	@media (min-width: 3201px) {
		zoom: 200%;
	 }
}

img {
	width: 100%;
}

button {
	-webkit-tap-highlight-color: transparent;
}

.container {
	@include container(1170px, 0)
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}