.btn {
    @include no-btn();
    @include btn-anim();
    font-weight: 500;

    &--red {
        background-color: var(--btn-red);
        width: 114px;
        height: 39px;
        border: 1px solid var(--btn-red-border);
        border-radius: 7px;
    }
}

.btn-card {
    margin-top: auto;
    padding: 12px 0;
    border: 1px solid #D0D0D0;
    border-radius: 7px;

    &__svg {
        margin-left: 10px;
    }

    &--red {
        display: flex;
        justify-content: center;
        padding: 11px 0;
        border: 1px solid var(--btn-red-border);
        background: var(--btn-red);
        box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.10);
        line-height: normal;
    }
}

.btn-card-svg {
    padding: 4px;
    width: 16px;
    height: 16px;
    background-color:  rgba(255, 255, 255, 0.60);
    border-radius: 100%;
}

